@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'SF Pro Display', sans-serif;
}

.hover {
  background-color: #f0f0f0;
  font-weight: bold;
}

#map_canva {
  width: 100%;
  float: left;
  position: static !important;
}

.button{
  border: 2px solid black;
  border-radius: 6px;
  padding: 5px;
  color: black;
}

.background:hover div{
  background-color: black !important;
}

.background:hover div .title{
  color: white;
}

.background:hover .button{
  border: 2px solid white;
}

.transformup{
  transform: rotateZ(90deg);
  transition: all 0.5s;
}

.transformdown{
  transform: rotateZ(270deg);
  transition: all 0.5s;
}

#locations {
  display: flex;
  overflow-x: auto;
}

li {
  flex: 0 0 auto;
  margin-top: auto;
  scroll-snap-align: start;
  transition: opacity 0.3s ease-in-out;
}

.gmnoprint{
  display: none;
}